#header{
  display: flex;
  justify-content: center;
  color:rgb(169, 157, 212);;
  padding-top: 25px;
  font-size: larger;
}
#main{
  width: 395px;
  height: 560px;
  margin-left: 430px;
  border-radius: 10px;
  background-color: rgb(147, 149, 143);
}

#main input{
  background-color: rgb(169, 157, 212);
  border: none;
  border-radius: 10px;
  margin: 10px;
  margin-left: 18px;
  width: 65px;
  height: 65px;
  font-size: 25px;
  box-shadow: rgb(241, 237, 237) 2px 1px;
  cursor: pointer;
}

#main input:hover{
  background-color: rgba(247, 165, 235, 0.244);
}
